body{
    background-color: aquamarine;
}
p{
    font-size: 50px;
    color: fuchsia;
    text-align: center;
}
table{
    border: double 5px fuchsia;
    width: 50%;
    font-size: 24px;
    border-collapse: separate;
    margin: auto;
}
th, td{
    border: solid 2px blueviolet;
    width: 25%;
    height: 1cm;
}
tr:hover{
    background-color: lightgrey
}
td:hover{
    background-image: url(https://cdn.pixabay.com/animation/2023/10/04/10/16/10-16-21-732_512.gif);
    color: orange;
    text-transform: uppercase;
    font-size: 1.2em;
}
tr:nth-child(even){
    background-color: lightpink;
}
tr:nth-child(odd){
    background-color: lightskyblue
}
.c1{
    border: dashed red;
    vertical-align: bottom;
    text-align: right;
}
caption {
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, purple);
    text-transform: uppercase;
    color: fuchsia;
    font-weight: bold;
    font-size: 2em;
}
